<launch>
    <!-- Setup file -->
    <arg name="param_file" default="templete"/>

    <!-- Node -->
    <node name="py_templete" pkg="py_templete" type="py_templete.py" output="screen" clear_params="true" required="true">
        <rosparam command="load" file="$(find py_templete)/config/$(arg param_file).yaml" />
    </node>
</launch>
