<launch>
    <!-- Setup file -->
    <arg name="param_file" default="param_pubStringMsg"/>

    <!-- Node --> 
    <node name="pubStringMsg" pkg="cthung" type="pubStringMsg" output="screen" clear_params="true" required="true">
        <rosparam command="load" file="$(find cthung)/config/$(arg param_file).yaml" />
    </node>
</launch>

